# #################################################################
# Archivo de restricciones de la tarjeta Alhambra II
# #################################################################

#LEDS EN LA TARJETA
set_io BOARD_LED0 45
set_io BOARD_LED1 44
set_io BOARD_LED2 43
set_io BOARD_LED3 42
set_io BOARD_LED4 41
set_io BOARD_LED5 39
set_io BOARD_LED6 38
set_io BOARD_LED7 37

#Interruptores
set_io BOARD_SW1 34
set_io BOARD_SW2 33

#Entradas análogas (ADS7924 12-bit 4-channel ADC)
set_io BOARD_A0 114
set_io BOARD_A1 115
set_io BOARD_A2 116
set_io BOARD_A3 117

# Serial SDA Pin
set_io BOARD_DD4 118
# Serial SCL Pin
set_io BOARD_DD5 119

# ADC INTERRUPT
set_io ADC_INT 90
# ADC I2C
set_io ADC_SDA 83
set_io ADC_SCL 84

#Entradas digitales
set_io BOARD_D0 2
set_io BOARD_D1 1
set_io BOARD_D2 4
set_io BOARD_D3 3
set_io BOARD_D4 8
set_io BOARD_D5 7
set_io BOARD_D6 10
set_io BOARD_D7 9
set_io BOARD_D8 20
set_io BOARD_D9 19
set_io BOARD_D10 22
set_io BOARD_D11 21
set_io BOARD_D12 63
set_io BOARD_D13 64

#CLK de 12MHz
set_io BOARD_CLK 49

#FTDI 2232h USB

#SPI pins
set_io FTDI_SCK 70
set_io FTDI_MISO 68
set_io FTDI_MOSI 67
set_io FTDI_SS 71

#FTDI Control Leds?
set_io FTDI_DONE 65
set_io FTDI_RES 66

set_io FTDI_RX 61 #in
set_io FTDI_TX 62 #out

set_io FTDI_RTS 60 #out Ready o send handshake output
set_io FTDI_CTS 56 #in Clear to Send Handshake input
set_io FTDI_DTR 52 #out Data Transmit ready modem signaling line
set_io FTDI_DSR 48 #in Data Set Ready modem signaling line
set_io FTDI_DCD 47 #in Data Carrier Detect modem signaling line

#OTHER SPECIFICATIONS
# 32Mb FLASH MEMORY up to 30 bitstreams or user data (Through SPI)
# 20 input/output 3.3V (5v tolerant) pins
# All i/o pins include 200 ohms serial resistors for direct led activation
# Data + Power (Up to 1.8A)
# Power Only (3A max)

